<!DOCTYPE html>
<html lang="en">
  <%- include("../blocks/head", {title: "Quotes API "})%>

  <body>
    <%- include("../blocks/header")%>

    <main class="mt-4 mb-4 mb-lg-1 mb-md-1 mb-sm-1">
      <div class="container">
        <div
          class="block rounded-3 align-items-center mt-3 p-4 d-flex flex-column justify-content-center align-items-center"
        >
          <h2
            style="color: #0a2656"
            class="center"
          >
            Design quote
          </h2>
          <h3><%= designQuote.title %></h3>
          <%- designQuote.content %>
        </div>

        <div
          class="block rounded-3 align-items-center mt-3 p-4 d-flex flex-column justify-content-center align-items-center"
        >
          <h2 style="color: #0a2656">Some fact about cats</h2>
          <p><%= catFact %></p>
        </div>
      </div>
    </main>

    <%- include("../blocks/footer.ejs") %>
  </body>
</html>
